div{
    color: rgb(0, 0, 0);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    
}
.container{
    width:100vw;
    display:flex;
}
.fixed{
    background-color:rgb(158, 185, 247);
    padding: 4px;
}
.flex-item{
    background-color:rgb(196, 196, 197);
    flex-grow: 1;
}
.iconPadding{
    padding:4px 4px 4px 4px;
    margin:4px 2px 4px 2px;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
}
.icon{
    background-color:rgb(255, 255, 255);
}
.buttonPadding{
    padding:4px 4px 4px 4px;
    margin:4px 2px 4px 2px;
    border-radius: 8px;
    background-color:rgb(196, 196, 197);
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold
}
.selected{
    Background-color:rgb(226, 99, 141);
}
#editbutton:hover {
    background-color:rgb(148, 148, 207);
}
#trashbutton:hover {
    background-color:rgb(148, 148, 207);
}
#movebutton:hover {
    background-color:rgb(148, 148, 207);
}
#runbutton:hover {
    background-color:rgb(148, 148, 207);
}

#ButtonTextField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonNarrativeField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonDateField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonDropDownField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonRadioButtonField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonCheckBoxField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonHeaderField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonFooterField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonLabelField:hover {
    background-color:rgb(148, 148, 207);
}
#ButtonLabeledListField:hover {
    background-color:rgb(148, 148, 207);
}
